* {
  font-family: "jost", sans-serif;
}

.location {
  text-transform: capitalize;
}

html {
  display: flex;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

input {
  font-size: large;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.weather {
  margin: 3rem;
  border: 3px solid grey;
  border-radius: 20px;
  padding-bottom: 30px;
  width: 80%;
  max-width: 700px;
  padding: 0px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.weather .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
}

.line {
  display: flex;
  justify-content: center;
  text-align: center;
}

.weather form {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.weather form input {
  margin-top: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 250px;
}

.weather form input:focus {
  outline: invert;
}

.weather .getweather {
  margin-left: 10px;
  padding: 8px;
  font-size: 1.3rem;
  border: none;
  border-radius: 20px;
  border: 2px solid black;
  cursor: pointer;
  color: whitesmoke;
}

.weather .getweather:hover {
  background: transparent;
  color: black;
}

.weather .getweather:focus {
  outline: none;
}
